*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #eceae6;
}

header {
    margin-bottom: -18px;
    padding: 0;
}

nav {
    background: #3b3a37;
    padding: 20px;
    border-bottom:  2px solid gray;
}

nav ul {
    width: 1500px;
    margin: 0px auto;
}

nav ul li {
    list-style-type: none;
    float: left;
    width: 300px;
    text-align: center;
    line-height: 30px;
    font-size: 30px;
    vertical-align: middle;
    margin-top: 0;


}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

nav ul li a:hover {
    color: white;
}

nav ul li a {
    position: relative;
    color: #d6d4ce;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 10px;
}


nav ul li a::after {
    content: "";
    position: absolute;
    background-color: #fbe500;
    height: 4px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;

}

nav ul a:hover::after {
    width: 100%;
}

.logo {
    width: 150px;
    margin-top: -120px;
    padding: 25px;

    
}

main h1 {
    text-align: center;
    color: #3b3a37;
    font-size: 45px;
    margin: 0 auto;
    padding-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    width: max-content;

}

main h1::after {
    content: "";
    position: absolute;
    height: 5px;
    width: 100%;
    background: linear-gradient(to right, #3b3a37, #8f840e);
    bottom: 0;
    left: 0;
}

main p {
    padding-left: 30px;
    padding-top: 30px;
    font-size: 27px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-bottom: 20px;
    color: #272624;
    text-align: center;
    
    
}

main {
    background: #d6d4ce;
    width: 1500px;
    height: 1340px;
    margin: 0 auto;
    padding-top: 1px;
}

.virus {
    float: right;
    padding-right: 40px;
    transition: 0.5s ease;
    border-radius: 20px ;
    width: 480px;
    box-shadow: 3px 3px 4px #3b3a37;
    margin-left: 50px;
    margin-right: 30px;
    margin-bottom: 50px;
}

footer p {
    background: #3b3a37;
    color: #d6d4ce;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-left: 28px;
    border-top:  2px solid gray;
    

}


.trojan {
    width: 420px;
    border-radius: 20px;
    transition: 0.5s ease;
    box-shadow: 3px 3px 4px #3b3a37;
    margin-left: 200px;
    margin-top: 30px;
    display: flex;
    
}

.trojan:hover {
    transition: 0.3s ease;
    transform: scale(1.05);
}

.virus:hover {
    transition:  0.3s ease;
    transform: scale(1.05);
}

.detektorscam {
    width: 460px;
    border-radius: 20px;
    margin-left: 900px;
    box-shadow: 3px 3px 4px #3b3a37;
    margin-top: -260px;
    display: block;
    transition: 0.5s ease;
    position: relative;
    right: 40px;
    
}

.detektorscam:hover {
    transition: 0.3s ease;
    transform: scale(1.05);
}

.ransomware {
    width: 400px;
    border-radius: 20px;
    box-shadow: 3px 3px 4px #3b3a37;
    display: block;
    margin-left: 1070px;
    margin-top: -180px;
    margin-right: 20px;
    transition: 0.5s ease;
}

.ransomware:hover {
    transition: 0.3s ease;
    transform:  scale(1.05);
}

.typyviruu {
    background: #c2c0ba;
    border-radius: 12px;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 10px;
    padding-bottom: 25px;
}

.cozpusobb {
    background: #c2c0ba;
    border-radius: 12px;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 10px;
    padding-bottom: 25px;
    margin-bottom: 50px;
}

.cojetovirr {
    background: #c2c0ba;
    border-radius: 12px;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 10px;
    padding-bottom: 25px;
    margin-top: 50px;
    margin-bottom: 50px;

}




